<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Gait" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
    <section name="SegmentedGait" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
    <section name="Sway" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
    <section name="Tandem" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
	<section name="SemiTandem" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
	<section name="ChairStand" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
	<section name="SwayEyesClosed" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
    <section name="SwayFoam" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
    <section name="SwayFoamEyesClosed" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
    <section name="TUG" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
    <section name="SHARED" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
	<section name="FourStepSquare" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
	<section name="Reach" type="GaitAndBalanceApp.Analysis.MetricRangesSection, GaitAndBalanceApp" />
  </configSections>
  <Gait>
    <MetricRangesCollection>
      <add name="Turns" lowerTypicalRange="14" higherTypicalRange="32" description="The number of turns recorded" formatting="N0" preferedRange="higherIsBetter" />
      <add name="Turn time" description="The median time to turn" formatting="N2" lowerTypicalRange="1.40033333333333" higherTypicalRange="3.63333333333333" preferedRange="lowerIsBetter" />
      <add name="Walks" description="The number of walk intervals recorded" formatting="N0" higherTypicalRange="33" lowerTypicalRange="14" preferedRange="higherIsBetter" />
      <add name="Walk time" description="The median time to walk" formatting="N2" lowerTypicalRange="2.20033333333333" higherTypicalRange="4.63333333333333" preferedRange="lowerIsBetter" />
      <add name="COM distance" description="The distance that the Reference body point traveled " formatting="N1" lowerTypicalRange="86.6383296746859" higherTypicalRange="180.800468570419" preferedRange="higherIsBetter" />
      <add name="Walking efficiency" description="The ratio between COM progress and the forward progress" formatting="N4" lowerTypicalRange="0.985829458333605" higherTypicalRange="0.998653824017497" preferedRange="higherIsBetter" />
      <add name="Lateral sway" description="The sway in the lateral-medial axis" formatting="N4" lowerTypicalRange="0.00979949523479359" higherTypicalRange="0.0180212030418962" preferedRange="lowerIsBetter" />
      <add name="Temporal sway" description="The sway in progress rate" formatting="N4" lowerTypicalRange="0.0141016068912725" higherTypicalRange="0.024565332167842" preferedRange="lowerIsBetter" />
      <add name="Total sway" description="The total sway" formatting="N4" lowerTypicalRange="0.0231898384027365" higherTypicalRange="0.0320635286002548" preferedRange="lowerIsBetter" />
      <add name="RMS" description="Root Mean Square" formatting="N4" lowerTypicalRange="0.0291769173854702" higherTypicalRange="0.0413444417770939" preferedRange="lowerIsBetter" />
      <add name="Area" description="The area of the 95% confidence ellipse around the deviation" formatting="N4" lowerTypicalRange="0.00606039200818165" higherTypicalRange="0.0113360690428317" preferedRange="lowerIsBetter" />
      <add name="Range A" description="The length of the larger axis of the 95% confidence ellipse around the deviation" formatting="N4" lowerTypicalRange="0.125583714405169" higherTypicalRange="0.187287251924483" preferedRange="lowerIsBetter" />
      <add name="Range B" description="The length of the smaller axis of the 95% confidence ellipse around the deviation" formatting="N4" lowerTypicalRange="0.0597933009073814" higherTypicalRange="0.0864374093235773" preferedRange="lowerIsBetter" />
      <add name="PWR" description="The power of the sway" formatting="N4" lowerTypicalRange="0.000721255291967822" higherTypicalRange="0.00203482545432053" preferedRange="lowerIsBetter" />
      <add name="F50" description="Median cadence" formatting="N4" lowerTypicalRange="0.547956630525438" higherTypicalRange="0.909090909090909" preferedRange="higherIsBetter" />
      <add name="F95" description="The 95-percentile cadence" formatting="N4" lowerTypicalRange="1.4" higherTypicalRange="3.42927127985303" preferedRange="higherIsBetter" />
      <add name="Centroid Freq" description="The centroid frequency of cadence" formatting="N4" lowerTypicalRange="0.711016128412919" higherTypicalRange="1.05367332267233" preferedRange="higherIsBetter" />
      <add name="Freq Dispersion" description="Cadence inconsistency" formatting="N4" lowerTypicalRange="0.699454410162291" higherTypicalRange="0.851719203026232" preferedRange="lowerIsBetter" />
      <!--<add name="Instructions" description="..."/>-->
      <!--<add name="Setup" description="..."/>-->
    </MetricRangesCollection>
  </Gait>
  <SegmentedGait>
    <MetricRangesCollection>
      <add name="Segments" lowerTypicalRange="-1" higherTypicalRange="-1" description="The number of segments recorded" formatting="N0" preferedRange="higherIsBetter" />
      <add name="COM distance" description="The distance that the Reference body point traveled " formatting="N1" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="higherIsBetter" />
      <add name="Velocity" description="The velocity of the Reference body point " formatting="N1" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="higherIsBetter" />
      <add name="Walking efficiency" description="The ratio between COM progress and the forward progress" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="higherIsBetter" />
      <add name="Lateral sway" description="The sway in the lateral-medial axis" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="Temporal sway" description="The sway in progress rate" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="Total sway" description="The total sway" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="RMS" description="Root Mean Square" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="Area" description="The area of the 95% confidence ellipse around the deviation" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="Range A" description="The length of the larger axis of the 95% confidence ellipse around the deviation" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="Range B" description="The length of the smaller axis of the 95% confidence ellipse around the deviation" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="PWR" description="The power of the sway" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="F50" description="Median cadence" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="higherIsBetter" />
      <add name="F95" description="The 95-percentile cadence" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="higherIsBetter" />
      <add name="Centroid Freq" description="The centroid frequency of cadence" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="higherIsBetter" />
      <add name="Freq Dispersion" description="Cadence inconsistency" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="Walk time" description="Time to complete segment" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="Instructions" description="Instructions are not defined in the config file."/>
      <add name="Setup" description="Setup is not defined in the config file."/>
    </MetricRangesCollection>
  </SegmentedGait>
  <Sway>
    <MetricRangesCollection>
      <add name="Lateral sway" description="The sway in the lateral-medial axis" formatting="N4" higherTypicalRange="0.00688771" lowerTypicalRange="0.003364203" preferedRange="lowerIsBetter" />
      <add name="Ventral sway" description="The sway in the ventral-dorsal axis" formatting="N4" higherTypicalRange="0.009077794" lowerTypicalRange="0.004308151" preferedRange="lowerIsBetter" />
      <add name="Median Dist" description="Median of the distance from the median point" formatting="N4" higherTypicalRange="0.011834368" lowerTypicalRange="0.007133129" preferedRange="lowerIsBetter" />
      <add name="RMS" description="Root Mean Square of the sway" formatting="N4" higherTypicalRange="0.014943184" lowerTypicalRange="0.009097201" preferedRange="lowerIsBetter" />
      <add name="Area" description="The area of the 95% confidence ellipse around the sway" formatting="N4" higherTypicalRange="0.001939406" lowerTypicalRange="0.000688103" preferedRange="lowerIsBetter" />
      <add name="Range A" description="The length of the larger axis of the 95% confidence ellipse around the sway" formatting="N4" higherTypicalRange="0.067501973" lowerTypicalRange="0.037653034" preferedRange="lowerIsBetter" />
      <add name="Range B" description="The length of the smaller axis of the 95% confidence ellipse around the sway" formatting="N4" higherTypicalRange="0.041553009" lowerTypicalRange="0.024415934" preferedRange="lowerIsBetter" />
      <add name="Median Lateral Angle" description="The angle of the body, in the lateral axis from the tangent to the ground" formatting="N4" higherTypicalRange="1.30362248634085" lowerTypicalRange="-1.30362248634085" preferedRange="inRange" />
      <add name="Median Ventral Angle" description="The angle of the body, in the ventral axis from the tangent to the ground" formatting="N4" higherTypicalRange="-1.453304779166" lowerTypicalRange="-4.29257634008385" preferedRange="inRange" />
      <add name="PWR" description="The power of the sway" formatting="N4" higherTypicalRange="0.014574912" lowerTypicalRange="0.003157183" preferedRange="lowerIsBetter" />
      <add name="F50" description="The median sway frequency" formatting="N4" higherTypicalRange="0.224937517" lowerTypicalRange="0.074979172" preferedRange="lowerIsBetter" />
      <add name="F95" description="The 95-percentile sway frequency" formatting="N4" higherTypicalRange="0.549847265" lowerTypicalRange="0.291585671" preferedRange="lowerIsBetter" />
      <add name="Centroid Freq" description="The centroid frequency" formatting="N4" higherTypicalRange="0.637891294" lowerTypicalRange="0.386351693" preferedRange="lowerIsBetter" />
      <add name="Freq Dispersion" description="Frequency Dispersion - a measure of consistency" formatting="N4" higherTypicalRange="0.97423163" lowerTypicalRange="0.942460756" preferedRange="lowerIsBetter" />
      <!--<add name="Instructions" description="..."/>-->
      <!--<add name="Setup" description="..."/>-->
    </MetricRangesCollection>
  </Sway>
  
 
  <SwayEyesClosed>
    <MetricRangesCollection>
      <add name="Lateral sway" description="The sway in the lateral-medial axis" formatting="N4" higherTypicalRange="0.006683224" lowerTypicalRange="0.003840062" preferedRange="lowerIsBetter" />
      <add name="Ventral sway" description="The sway in the ventral-dorsal axis" formatting="N4" higherTypicalRange="0.01296787" lowerTypicalRange="0.004068702" preferedRange="lowerIsBetter" />
      <add name="Median Dist" description="Median of the distance from the median point" formatting="N4" higherTypicalRange="0.016633226" lowerTypicalRange="0.007122193" preferedRange="lowerIsBetter" />
      <add name="RMS" description="Root Mean Square of the sway" formatting="N4" higherTypicalRange="0.0194151" lowerTypicalRange="0.008879679" preferedRange="lowerIsBetter" />
      <add name="Area" description="The area of the 95% confidence ellipse around the sway" formatting="N4" higherTypicalRange="0.003177184" lowerTypicalRange="0.000716518" preferedRange="lowerIsBetter" />
      <add name="Range A" description="The length of the larger axis of the 95% confidence ellipse around the sway" formatting="N4" higherTypicalRange="0.080807785" lowerTypicalRange="0.0343544" preferedRange="lowerIsBetter" />
      <add name="Range B" description="The length of the smaller axis of the 95% confidence ellipse around the sway" formatting="N4" higherTypicalRange="0.050060977" lowerTypicalRange="0.026426709" preferedRange="lowerIsBetter" />
      <add name="PWR" description="The power of the sway" formatting="N4" higherTypicalRange="0.019361608" lowerTypicalRange="0.004874104" preferedRange="lowerIsBetter" />
      <add name="Median Lateral Angle" description="The angle of the body, in the lateral axis from the tangent to the ground" formatting="N4" higherTypicalRange="0.968728661094697" lowerTypicalRange="-0.968728661094697" preferedRange="inRange" />
      <add name="Median Ventral Angle" description="The angle of the body, in the ventral axis from the tangent to the ground" formatting="N4" higherTypicalRange="-1.39851070625626" lowerTypicalRange="-4.94362632845551" preferedRange="inRange" />
      <add name="F50" description="The median sway frequency" formatting="N4" higherTypicalRange="0.208217657" lowerTypicalRange="0.108303249" preferedRange="lowerIsBetter" />
      <add name="F95" description="The 95-percentile sway frequency" formatting="N4" higherTypicalRange="0.574840322" lowerTypicalRange="0.333240766" preferedRange="lowerIsBetter" />
      <add name="Centroid Freq" description="The centroid frequency" formatting="N4" higherTypicalRange="0.556662735" lowerTypicalRange="0.407593885" preferedRange="lowerIsBetter" />
      <add name="Freq Dispersion" description="Frequency Dispersion - a measure of consistency" formatting="N4" higherTypicalRange="0.965546492" lowerTypicalRange="0.901909352" preferedRange="lowerIsBetter" />
      <!--<add name="Instructions" description="..."/>-->
      <!--<add name="Setup" description="..."/>-->
    </MetricRangesCollection>
  </SwayEyesClosed>
   
      
  <Tandem>
    <MetricRangesCollection>
      <add name="Lateral sway" description="The sway in the lateral-medial axis" formatting="N4" higherTypicalRange="0.00688771" lowerTypicalRange="0.003364203" preferedRange="lowerIsBetter" />
      <add name="Ventral sway" description="The sway in the ventral-dorsal axis" formatting="N4" higherTypicalRange="0.009077794" lowerTypicalRange="0.004308151" preferedRange="lowerIsBetter" />
      <add name="Median Dist" description="Median of the distance from the median point" formatting="N4" higherTypicalRange="0.011834368" lowerTypicalRange="0.007133129" preferedRange="lowerIsBetter" />
      <add name="RMS" description="Root Mean Square of the sway" formatting="N4" higherTypicalRange="0.014943184" lowerTypicalRange="0.009097201" preferedRange="lowerIsBetter" />
      <add name="Area" description="The area of the 95% confidence ellipse around the sway" formatting="N4" higherTypicalRange="0.001939406" lowerTypicalRange="0.000688103" preferedRange="lowerIsBetter" />
      <add name="Range A" description="The length of the larger axis of the 95% confidence ellipse around the sway" formatting="N4" higherTypicalRange="0.067501973" lowerTypicalRange="0.037653034" preferedRange="lowerIsBetter" />
      <add name="Range B" description="The length of the smaller axis of the 95% confidence ellipse around the sway" formatting="N4" higherTypicalRange="0.041553009" lowerTypicalRange="0.024415934" preferedRange="lowerIsBetter" />
      <add name="Median Lateral Angle" description="The angle of the body, in the lateral axis from the tangent to the ground" formatting="N4" higherTypicalRange="1.30362248634085" lowerTypicalRange="-1.30362248634085" preferedRange="inRange" />
      <add name="Median Ventral Angle" description="The angle of the body, in the ventral axis from the tangent to the ground" formatting="N4" higherTypicalRange="-1.453304779166" lowerTypicalRange="-4.29257634008385" preferedRange="inRange" />
      <add name="PWR" description="The power of the sway" formatting="N4" higherTypicalRange="0.014574912" lowerTypicalRange="0.003157183" preferedRange="lowerIsBetter" />
      <add name="F50" description="The median sway frequency" formatting="N4" higherTypicalRange="0.224937517" lowerTypicalRange="0.074979172" preferedRange="lowerIsBetter" />
      <add name="F95" description="The 95-percentile sway frequency" formatting="N4" higherTypicalRange="0.549847265" lowerTypicalRange="0.291585671" preferedRange="lowerIsBetter" />
      <add name="Centroid Freq" description="The centroid frequency" formatting="N4" higherTypicalRange="0.637891294" lowerTypicalRange="0.386351693" preferedRange="lowerIsBetter" />
      <add name="Freq Dispersion" description="Frequency Dispersion - a measure of consistency" formatting="N4" higherTypicalRange="0.97423163" lowerTypicalRange="0.942460756" preferedRange="lowerIsBetter" />
      <!--<add name="Instructions" description="..."/>-->
      <!--<add name="Setup" description="..."/>-->
    </MetricRangesCollection>
  </Tandem>
  <SemiTandem>
    <MetricRangesCollection>
      <add name="Lateral sway" description="The sway in the lateral-medial axis" formatting="N4" higherTypicalRange="0.00688771" lowerTypicalRange="0.003364203" preferedRange="lowerIsBetter" />
      <add name="Ventral sway" description="The sway in the ventral-dorsal axis" formatting="N4" higherTypicalRange="0.009077794" lowerTypicalRange="0.004308151" preferedRange="lowerIsBetter" />
      <add name="Median Dist" description="Median of the distance from the median point" formatting="N4" higherTypicalRange="0.011834368" lowerTypicalRange="0.007133129" preferedRange="lowerIsBetter" />
      <add name="RMS" description="Root Mean Square of the sway" formatting="N4" higherTypicalRange="0.014943184" lowerTypicalRange="0.009097201" preferedRange="lowerIsBetter" />
      <add name="Area" description="The area of the 95% confidence ellipse around the sway" formatting="N4" higherTypicalRange="0.001939406" lowerTypicalRange="0.000688103" preferedRange="lowerIsBetter" />
      <add name="Range A" description="The length of the larger axis of the 95% confidence ellipse around the sway" formatting="N4" higherTypicalRange="0.067501973" lowerTypicalRange="0.037653034" preferedRange="lowerIsBetter" />
      <add name="Range B" description="The length of the smaller axis of the 95% confidence ellipse around the sway" formatting="N4" higherTypicalRange="0.041553009" lowerTypicalRange="0.024415934" preferedRange="lowerIsBetter" />
      <add name="Median Lateral Angle" description="The angle of the body, in the lateral axis from the tangent to the ground" formatting="N4" higherTypicalRange="1.30362248634085" lowerTypicalRange="-1.30362248634085" preferedRange="inRange" />
      <add name="Median Ventral Angle" description="The angle of the body, in the ventral axis from the tangent to the ground" formatting="N4" higherTypicalRange="-1.453304779166" lowerTypicalRange="-4.29257634008385" preferedRange="inRange" />
      <add name="PWR" description="The power of the sway" formatting="N4" higherTypicalRange="0.014574912" lowerTypicalRange="0.003157183" preferedRange="lowerIsBetter" />
      <add name="F50" description="The median sway frequency" formatting="N4" higherTypicalRange="0.224937517" lowerTypicalRange="0.074979172" preferedRange="lowerIsBetter" />
      <add name="F95" description="The 95-percentile sway frequency" formatting="N4" higherTypicalRange="0.549847265" lowerTypicalRange="0.291585671" preferedRange="lowerIsBetter" />
      <add name="Centroid Freq" description="The centroid frequency" formatting="N4" higherTypicalRange="0.637891294" lowerTypicalRange="0.386351693" preferedRange="lowerIsBetter" />
      <add name="Freq Dispersion" description="Frequency Dispersion - a measure of consistency" formatting="N4" higherTypicalRange="0.97423163" lowerTypicalRange="0.942460756" preferedRange="lowerIsBetter" />
      <!--<add name="Instructions" description="..."/>-->
      <!--<add name="Setup" description="..."/>-->
    </MetricRangesCollection>
  </SemiTandem>
  <ChairStand>
    <MetricRangesCollection>
	  <add name="MedianTimeToStand" description="The median time it took from the sitting position to standing position" formatting="N2" higherTypicalRange="0.3" lowerTypicalRange="0" preferedRange="lowerIsBetter" />
      <add name="MedianTimeStanding" description="The median time in standing position" formatting="N2" higherTypicalRange="2.0" lowerTypicalRange="0" preferedRange="lowerIsBetter" />
      <add name="MedianTimeToSit" description="The median time it took from the standing position to sitting position" formatting="N2" higherTypicalRange="0.3" lowerTypicalRange="0" preferedRange="lowerIsBetter" />
      <add name="MedianTimeSitting" description="The median time in sitting position" formatting="N2" higherTypicalRange="2.0" lowerTypicalRange="0" preferedRange="lowerIsBetter" />
      <add name="Total" description="The average time from sitting to sitting" formatting="N2" higherTypicalRange="5" lowerTypicalRange="0" preferedRange="lowerIsBetter" />
      <add name="NumberOfTimes" description="Count the number of times the patient comes to a full standing position in 30 seconds" formatting="N2" higherTypicalRange="12" lowerTypicalRange="0" preferedRange="higherIsBetter" />  	  
      <add name="MedianMaxSlope" description="The median of the max slope while patient was getting up" formatting="N2" higherTypicalRange="0.4" lowerTypicalRange="0.2" preferedRange="higherIsBetter" />  	  	  
	  <add name="MedianMinSlope" description="The median of the min slope while patient was getting up" formatting="N2" higherTypicalRange="0.9" lowerTypicalRange="0.6" preferedRange="higherIsBetter" />  	  
	  <!--<add name="Instructions" description="When instructed, stand up, walk around the mark, return to the chair and sit." />-->
      <!--<add name="Setup" description="The subject should be sitting, facing the sensor, 5 meters away from the sensor. A mark or a cone should be places 2 meters away from the sensor." />-->	  <!--<add name="Setup" description="..."/>-->
    </MetricRangesCollection>
  </ChairStand>
  <SwayFoam>
    <MetricRangesCollection>
      <add name="Lateral sway" description="The sway in the lateral-medial axis" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Ventral sway" description="The sway in the ventral-dorsal axis" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Median Dist" description="Median of the distance from the median point" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="RMS" description="Root Mean Square of the sway" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Area" description="The area of the 95% confidence ellipse around the sway" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Range A" description="The length of the larger axis of the 95% confidence ellipse around the sway" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Range B" description="The length of the smaller axis of the 95% confidence ellipse around the sway" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="PWR" description="The power of the sway" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Median Lateral Angle" description="The angle of the body, in the lateral axis from the tangent to the ground" formatting="N4" preferedRange="inRange" />
      <add name="Median Ventral Angle" description="The angle of the body, in the ventral axis from the tangent to the ground" formatting="N4" preferedRange="inRange" />
      <add name="F50" description="The median sway frequency" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="F95" description="The 95-percentile sway frequency" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Centroid Freq" description="The centroid frequency" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Freq Dispersion" description="Frequency Dispersion - a measure of consistency" formatting="N4" preferedRange="lowerIsBetter" />
      <!--<add name="Instructions" description="..."/>-->
      <!--<add name="Setup" description="..."/>-->
    </MetricRangesCollection>
  </SwayFoam>
  <SwayFoamEyesClosed>
    <MetricRangesCollection>
      <add name="Lateral sway" description="The sway in the lateral-medial axis" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Ventral sway" description="The sway in the ventral-dorsal axis" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Median Dist" description="Median of the distance from the median point" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="RMS" description="Root Mean Square of the sway" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Area" description="The area of the 95% confidence ellipse around the sway" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Range A" description="The length of the larger axis of the 95% confidence ellipse around the sway" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Range B" description="The length of the smaller axis of the 95% confidence ellipse around the sway" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="PWR" description="The power of the sway" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Median Lateral Angle" description="The angle of the body, in the lateral axis from the tangent to the ground" formatting="N4" preferedRange="inRange" />
      <add name="Median Ventral Angle" description="The angle of the body, in the ventral axis from the tangent to the ground" formatting="N4" preferedRange="inRange" />
      <add name="F50" description="The median sway frequency" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="F95" description="The 95-percentile sway frequency" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Centroid Freq" description="The centroid frequency" formatting="N4" preferedRange="lowerIsBetter" />
      <add name="Freq Dispersion" description="Frequency Dispersion - a measure of consistency" formatting="N4" preferedRange="lowerIsBetter" />
      <!--<add name="Instructions" description="..."/>-->
      <!--<add name="Setup" description="..."/>-->
    </MetricRangesCollection>
  </SwayFoamEyesClosed>
  <TUG>
    <MetricRangesCollection>
      <add name="Time to stand" description="The time it took from the sitting position to start walking" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="Time to walk before turning" description="The time it took from the standing position to reach the turn" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="Time to turn" description="The time it took to turn around the mark" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="Time to go" description="The time it took from the turn to the chair" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="Time to sit" description="The time it took to sit down" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
      <add name="Total" description="Time Up and Go" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
      <!--<add name="Instructions" description="When instructed, stand up, walk around the mark, return to the chair and sit." />-->
      <!--<add name="Setup" description="The subject should be sitting, facing the sensor, 5 meters away from the sensor. A mark or a cone should be places 2 meters away from the sensor." />-->
    </MetricRangesCollection>
  </TUG>
  <FourStepSquare>
	<MetricRangesCollection>
	  <add name="Time walking forward to square 2" description="The time it took walking forward from square 1 to 2" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
	  <add name="Time walking right to square 3" description="The time it took walking right from square 2 to 3" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
	  <add name="Time walking backwards to square 4" description="The time it took walking backward from square 3 to 4" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
	  <add name="Time walking left to square 1" description="The time it took walking left from square 4 to 1" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
	  <add name="Time walking right to square 4" description="The time it took walking right from square 1 to 4" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
	  <add name="Time walking forward to square 3" description="The time it took walking forward from square 4 to 3" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
	  <add name="Time walking left to square 2" description="The time it took walking left from square 3 to 2" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
	  <add name="Time walking backwards to square 1" description="The time it took walking backward from square 2 to 1" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
	  <add name="Total" description="Time Four Step Square" formatting="N2" higherTypicalRange="-1" lowerTypicalRange="-1" preferedRange="lowerIsBetter" />
	  <add name="Lateral sway" description="The sway in the lateral-medial axis" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
	  <add name="Temporal sway" description="The sway in progress rate" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
	  <add name="Total sway" description="The total sway" formatting="N4" lowerTypicalRange="-1" higherTypicalRange="-1" preferedRange="lowerIsBetter" />
	</MetricRangesCollection>
  </FourStepSquare>
  <Reach>
	<MetricRangesCollection>
	  <add name="Reach distance" description="The distance of the hand" formatting="N4" higherTypicalRange="0.4" lowerTypicalRange="0.22" preferedRange="higherIsBetter" />
	  <add name="Ventral sway" description="The sway in the ventral-dorsal axis" formatting="N4" preferedRange="lowerIsBetter" />
	  <!--<add name="Instructions" description="..."/>-->
	  <!--<add name="Setup" description="..."/>-->
	</MetricRangesCollection>
  </Reach>
  <SHARED>
    <MetricRangesCollection>
      <add name="Duration" lowerTypicalRange="0" higherTypicalRange="1000" description="The length of the recorded exercise in seconds" formatting="N0" preferedRange="noPreference" />
      <add name="Frames Per Second" lowerTypicalRange="29.75" higherTypicalRange="30.25" description="Number of frames acquired per second" formatting="N0" preferedRange="inRange" />
    </MetricRangesCollection>
  </SHARED>
      <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings file="shared.config">
    <!--========================-->
    <!--===   TUG parameters ===-->
    <!--========================-->
    <add key="TUGfarThreshold" value="5" />
    <!-- in TUG: crossing this line will indicate start of walk -->
    <add key="TUGcloseThreshold" value="2.5" />
    <!-- in TUG: crossing this line will indicate start of turn -->
    <add key="TUGhysteresis" value="0.05" />
    <!-- in TUG: hysteresis for line crossing -->
    <add key="TUGsittingZAngle" value="23.5" />
    <!-- in TUG: body angle (in degrees) that will be considered sitting -->

    <!--========================-->
    <!--===   TUG parameters ===-->
    <!--========================-->
    <add key="CHAIRSTANDhysteresis" value="0.05" />
    <!-- in TUG: hysteresis for line crossing -->
    <add key="CHAIRSTANDsittingZAngle" value="12.0" />
    <!-- in TUG: body angle (in degrees) that will be considered sitting -->
    <add key="CHAIRSTANDstandingZAngle" value="-5.0" />
    <!-- in TUG: body angle (in degrees) that will be considered sitting -->
    <add key="CHAIRSTANDsittingDownZAngle" value="0.0" />
    <!-- in TUG: body angle (in degrees) that will be considered sitting -->
    <add key="CHAIRSTANDstandingUpZAngle" value="8.0" />
    <!-- in TUG: body angle (in degrees) that will be considered sitting -->

    <!--=================================-->
    <!--=== Gait parameters ===-->
    <!--=================================-->
    <add key="GAITcloseThreshold" value="2.5" />
    <!-- in Gait: whenever closer than this point data will not be recorded -->
    <add key="GAITfarThreshold" value="5.5" />
    <!-- in Segmented Gait: whenever further than this point data will not be recorded -->
    <add key="GAIThysteresis" value="0.05" />
    <!-- in Gait: hysteresis for line crossing -->
    <add key="GAITinitialState" value="GoingAway" />
    <!-- in Gait: hysteresis for line crossing -->
    
    <!--=================================-->
    <!--=== Segmented Gait parameters ===-->
    <!--=================================-->
    <add key="SegmentedGaitFarThreshold" value="7.5" />
    <!-- in Segmented Gait: whenever further than this point data will not be recorded -->
    <add key="SegmentedGaitCloseThreshold" value="2" />
    <!-- in Segmented Gait: whenever closer than this point data will not be recorded -->

	<!--========================-->
	<!--===   Four Step Square parameters ===-->
	<!--========================-->
	<add key="FSSThreshold" value="2.0" />
	
	
    <!--========================-->
    <!--===  UI   parameters ===-->
    <!--========================-->
    <add key="drawLineModel" value="true" />
    <!-- draw the line (stick) model-->
    <add key="drawSilhouette" value="true" />
    <!-- draw the silhouette -->
    <add key="drawSkeleton" value="true" />
    <!-- draw Kinect's skeleton-->
    <add key="drawGrid" value="true" />
    <!-- draw Kinect's skeleton-->
    <add key="audioWarnings" value="false" />
    <!-- when set, gives audiable warnings if the frame rate is too law-->
    <add key="allowRemoteControl" value="flase" />
    <!-- when set, allows starting and stopping recording using the volume up key (which is what iPhone slefie remotes use)-->
    <add key="playInstructions" value="true" />
    <!-- when set, play the instructions before starting recording-->
    <add key="countdown" value="5" />
    <!-- length of countdown before starting recording-->
    <add key="SpeechSynthVoice" value="Microsoft Zira Desktop"/>
    <!-- the voice generator used-->

    <!--===========================-->
    <!--===  Acquisition contol ===-->
    <!--===========================-->
    <add key="inputMode" value="silhouetteLine" />
    <!-- the way in which the Reference body point is computed -->
    <add key="projectionMode" value="ground" />
    <!--<add key="projectionMode" value="ground" />-->
    <!-- the Reference body point projection to correct for sensor alignment-->
    <add key="widthOfROI" value="1" />
    <!-- the width of the area of interest (walkable region that should contain no obstacles) -->
    <add key="depthOfROI" value="8" />
    <!-- the length of the area of interest (walkable region that should contain no obstacles) -->
    <add key="lowerROI" value="0.5" />
    <!-- the lower bound on the height of the area of interest-->
    <add key="upperROI" value="1.5" />
    <!-- the upper bound on the height of the area of interest-->
    <add key="maximalDistanceFromGroundOfSubject" value="1" />
    <!-- the subject should not be more than this value from the ground-->
    <add key="minimalHeightOfSubject" value="1" />
    <!-- the subject should be at least of this height from the ground-->
    <add key="minimalDistanceFromCeilingOfSubject" value="0.25" />
    <!-- the subject should not be closer to the ceiling from this value-->
    <add key="minimalNumberOfPixelsInSubject" value="50" />
    <!-- the minimal number of pixels in the body-->
    <add key="xRange" value="3" />
    <!-- the width of the range for which a silhouette will be captured-->
    <add key="yRange" value="3" />
    <!-- the height of the range for which a silhouette will be captured-->
    <add key="zRange" value="8" />
    <!-- the depth of the range for which a silhouette will be captured-->
    <add key="mixRate" value="0.01"/>
    <!-- the mixRate determine how fast the floor tracking updates. Smaller values (close to zero) will produce more stable results but will require more time to callibrate -->
    <add key="applyLowPassFilterToTimeDomain" value="true" />
    <!-- when set, the time domain graph in the details tab is filtered with a low-pass filter before being displayed-->
    <add key="recordingsPerSession" value="1"/>
    <!-- when the start button is pressed starts multiple recording in serial if the value is greater than 1-->
    <add key="reflectiveSeperation" value="false" />
    <!-- when set, a point which is very reflective would be considered not on the body-->
    <add key="reflectiveSeperationCutoff" value="500" />
    <!-- the cutoff value for a point to be considered as too reflective-->
    <add key="SHODIR" value="C:\Program Files (x86)\Sho 2.1\"/>
    <!-- the directory of the Sho Library -->
    <add key="logFileName" value="log.txt"/>
    <!-- the system log file -->
    <add key ="MemoryLength" value="9000"/>
    <!-- the size of the memory buffer in frames (30 frames are collected each second) -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
  </runtime>
</configuration>
