<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="messageFile" value="c:\gb1\message.txt" />
  <!-- gb1 will send messages to potential clients using this file-->
  <add key="notificationFile" value="c:\gb1\notification.txt" />
  <!-- once a message is ready, GaitAndBalanceApp will alter the notification file such that clients can grab the message without the risk of a race condition on the message file-->
</appSettings>
